/* Template styling */



body {
  background: url('../images/background.png') repeat;
  font-family: 'Roboto', sans-serif;
  border: 10px;
}

header{
  grid-area: header;
  padding: 7px;
}


#banner {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-top.png');
  font-size: 1.50em;
  line-height: 60px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  justify-self: center;
  position: fixed;
  width: 1100px; /* Set your desired fixed width */
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 900;
  border-radius: 20px;
  transition: top 0.3s ease-in-out;
}


nav a {
  color: rgb(255, 0, 85);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color:rgb(72, 0, 255);
}

.trending h2{
  color: rgb(0, 255, 132);
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: 25px;
  font-style: italic;
  display: flex;
  margin-top: 0px;
 /* Adjust the value as needed */
}

#container {
 margin: 100px auto; /* Top and bottom margin of 100px, left and right margin auto for centering */
  padding: 30px;
  width: 80%; /* Adjust as needed */
  display: block;
  border-radius: 20px;
  justify-self: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color :rgb(72, 0, 255);
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(174, 43, 255, 0.851);
  color: white;
  border: 0.25px ;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
  padding: 5px;
}

input#search:focus {
  outline: none;
  color: blue;
}

#search::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  /* Add more styles as needed */
}

span.favorite {
  
  cursor: pointer;
}

span.favorite.active {
  color:  rgba(174, 43, 255, 0.851);
}

span.favorite:hover {
  color:rgb(255, 0, 85);
}



/* End template styling */



/* Add your styles below */


/* Homepage styles */


#home {
  padding: 10px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
}

/* End homepage styles */


/* Gif styles */



#gifs h1 {
  color: rgba(174, 43, 255, 0.851);
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  display: inline;
  
}

#total-liked {
  color:rgb(255, 0, 51);
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  display: inline;
  margin-left: 550px;
  border: 0px; /* Add border style */
  border-radius: 10px;
  padding: 7px 12px; /* Add padding */
  background-color:blue; /* Add background color */
  cursor: pointer; /* Add cursor style */
}

#gifs div.content {
  font-size: 1.25em;
  text-align: right;
}

#random-text {
  font-size: 1.25em;
  text-align: left;
  color:crimson;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.movie {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

div.movie h1 {
  font-size: 1.5em;
  margin: 5px;
}

div.movie h2 {
  font-size: 1.25em;
  margin: 5px;
}

div.movie img {
  width: 100%;
  margin-bottom: 20px;
}

#movies button {
  font-size: 20px;
  padding: 5px;
  color: rgb(222, 113, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#movies button:hover {
  color: white;
}

/* Single movie styles */

div.gif-detailed {
  padding: 20px;
  border: 1px solid rgb(97, 71, 97);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: table;
  width: 100%;
}

div.gif-detailed p {
  font-size: 1.25em;
  color: #eee;
}

div.movie-detailed div.poster {
  width: 30%;
  display: table-cell;
  padding: 20px;
  margin: 10px;
  border-right: 1px solid rgb(112, 112, 112);
}

div.movie-detailed div.poster img {
  width: 100%;
}

div.movie-detailed div.movie-info {
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  display: table-cell;
  text-align: left;
  width: 70%;
  /* height: 100%; */
}

/* End movies styles */


/* About styles */

#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}

.trending li {
  padding: 30px;
  display: inline-block;
  text-align: center;
  p {
    font-size: 40px;
  }
}

div .update {
  font-size: 25px;
  color: navy;

  button, input{
    font-size: 25px;
  }
}

#uploaded-gifs .gifs {
  padding: 30px;
  display: inline-block;
  text-align: center;
}

#favorite-gifs .header-row {
  justify-content: space-between;
  font-size: 30px;
  text-align: left;
}

#favorite-gifs .gifs {
  padding: 30px;
  display: inline-block;
  text-align: center;
}

#search-gif {
  display: inline-flexbox;
  padding: 10px;
}

#search-gif h1 {
  display: flex;
  color: white;
}

#search-gif p {
  display: flex;
  color: white;
  font-size: 20px;
  margin: 50px;
}

/* #search-gif .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

#search-gif .content {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px; 
}

.search-input {
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#search-btn {
  padding: 8px 10px;
  background-color:white;
  color: white;
  border: none;
  cursor: pointer;
  top: -1px;
  position: relative;

}

.gifs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px; 
  margin: 10px;
}

.gifs h1 {
  font-size: 12px; 
  margin-bottom: 12px;
}

.gifs img {
  width: 50%;
  height: 45%;
}


div .cursor-hover li {
  display: inline-block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}


.gif-container {
  position: relative;
  /* Other styles as needed */
}

.view-gif-btn {
  position: absolute;
  /* Center the button horizontally and vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Hide the button by default */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  color:rgb(255, 0, 76);
  background-color:rgb(72, 0, 255);
  border:0px;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;/* Replace "Your Nav Font" with the font used in the nav */
  padding: 15px 20px; /* Adjust the padding as needed */
}

.gif-container span {
  position: absolute;
  /* Center the button horizontally and vertically */
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Hide the button by default */
  opacity: 0;
  transition: opacity 0.3s ease;
  color:rgb(255, 0, 76);
  border:0px;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;/* Replace "Your Nav Font" with the font used in the nav */
  padding: 15px 20px; /* Adjust the padding as needed */
  display:flexbox;
  
}


.view-gif-btn:hover {
  color:salmon;
  background-color: rgb(0, 255, 128);
}



.gif-container:hover .view-gif-btn {
  /* Show the button when the container is hovered */
  opacity: 100;
}

.gif-container:hover span {
  /* Show the button when the container is hovered */
  opacity: 100;
}


  .gif-container img {
   border-radius: 10px;
   border-color: blue;
   border-width: 1px;
   border-style:double;
  }


  .gif-container:hover img {
    filter: brightness(80%) blur(2px);
    color: rgba(247, 0, 255, 0.5);
  }

  li{
    display: inline-block;
  }


/* Masonry grid styles */
.grid {
  width: 100%;
  padding-top: 60%;
  padding-left: 50%;
  padding-right: 50%;
  padding-bottom: 60%;
  background: #a200ff80;
}


.grid-sizer,
.grid-item {
  width: 33.333%; /* For a three column layout */
  height: auto;
  padding: 0%;
  margin-bottom: 100px;
}

.gutter-sizer {
  width: 2%; /* For a 2% gutter */
}


.grid-item {
  margin-bottom: 10px;
  float: left;
}